


        

            
    <div class="panel panel-default"><div class="panel-heading">Список субагентов</div><div class="panel-body">
        
        <div align="center">
            <table class="parameters-table" align="center" style="margin-top: 5px;width:350px;">
                <tr>
                    <th colspan="2">Параметры фильтра</th>
                </tr>
                <tr>
                    <td class="description">Название содержит:</td>
                    <td>
                        <input id="agentNameFilter" type="text" value="" style="width: 150px"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" id="unblockedCheckbox" />Активные
                    </td>
                    <td>
                        <input type="checkbox" id="blockedCheckbox" />Неактивные
                    </td>
                </tr>
            </table>
            <br />
            <div id="content">
                

<div class="ajax" align="center">
    
        <table class="list-entity">
            <tr>
                <th>
                    ID
                </th>
                <th style="width: 200px;">
                    Название
                </th>
                <th>
                    Баланс
                </th>
                <th>
                    Кредитный лимит
                </th>
                <th style="width: 90px">                   
                </th>
                <th>
                    Главный агент
                </th>
            </tr>
        
                <tr class="unblocked" agentName="ИП Аскирка  (TELE2)">                
            
                    <td>
                        6416475
                    </td>
                    <td style="font-weight:normal;padding-left:25px;">
                        ИП Аскирка  (TELE2)
                    </td>
                    <td>
                        31&#160;696,61 
                    </td>
                    <td>
                        0,00 
                    </td>
                    <td>
                        
                           <a href="/User/Logon/11272"><img src="/Content/images/user_small.png" title="Войти как агент" alt="Войти" /></a>
                        
                    </td>
                    <td>
                        ИП Аскирка А.Ю.
                    </td>
                </tr>
    
        
        </table>
    
</div>



            </div>
        </div>
    </div></div>

