

        

            
    <div class="panel panel-default"><div class="panel-heading">Касса агента &quot;ИП</div><div class="panel-body">

        <div align="center">
            <p style="font-weight:bold;" align="center">Доступно  средств для распределения:&nbsp;31&#160;696,61 &nbsp; руб.</p>
            <input id="redistribute" type="button" style="margin:0 20px 10px 0;width:100px;" value="Зачислить" />
            <input id="decrease" type="button" style="margin-bottom:10px;width:100px;" value="Забрать" />
        </div>
         <div id="serverError" class="field-validation-error" align="center"></div>
         <table class="parameters-table" align="center">
           <tr>
            <th>№</th>
            <th>Субагент</th>
            <th>Баланс</th>
            <th>Кредитный лимит</th>
            
            <th >Сумма</th>
            <th style="width:120px;">Тип платежа</th>
            <th style="width:50px;">Банковский платеж</th>
            <th style="width:300px;">Комментарий</th>
           </tr>
            
        </table>
        
    </div></div>


