

        

            
    <div class="panel panel-default"><div class="panel-heading">Z-отчеты с терминалов</div><div class="panel-body">

        <div align="center">
            <table>
                <tr>
                    <th>№ терминала</th>
                    <th>
                        Название
                    </th>
                    <th>
                        Дата
                    </th>
                    <th>
                        Файл z-отчета
                    </th>
                    <th></th>
                </tr>

            

            </table>
        </div>
    </div></div>

