

        

            
    <div class="panel panel-default"><div class="panel-heading">Логи с терминалов</div><div class="panel-body">

        <div align="center">
            <table>
                <tr>
                    <th>№ терминала</th>
                    <th>
                        Название
                    </th>
                    <th>
                        Дата
                    </th>
                    <th>
                        Файл лога
                    </th>
                    <th></th>
                </tr>

            
    
                <tr>
                    <td>
                        7484995
                    </td>
                    <td>
                        Вольск, Октябрьская, 106а 
                    </td>
                    <td>
                        14.08.2016 12:51:52
                    </td>
                    <td>
                        <a href="/Monitoring/GetLog/30893" target="_blank">
                            7484995_20160813.log
                        </a>
                    </td>
                    <td><a href="/Monitoring/RemoveLog/30893"><img class="hand" src="/Content/images/remove-icon.png" alt="X" /></a></td>
                </tr>
    
            
    
                <tr>
                    <td>
                        8378759
                    </td>
                    <td>
                        Усть - Курдюмская 11А
                    </td>
                    <td>
                        05.08.2016 20:00:31
                    </td>
                    <td>
                        <a href="/Monitoring/GetLog/30761" target="_blank">
                            8378759_20160803.log
                        </a>
                    </td>
                    <td><a href="/Monitoring/RemoveLog/30761"><img class="hand" src="/Content/images/remove-icon.png" alt="X" /></a></td>
                </tr>
    
            
    
                <tr>
                    <td>
                        1761220
                    </td>
                    <td>
                        ТЦ &quot;Центральный Кол&quot; Б.Горная 310А
                    </td>
                    <td>
                        09.06.2016 23:46:14
                    </td>
                    <td>
                        <a href="/Monitoring/GetLog/29641" target="_blank">
                            1761220_20160607.log
                        </a>
                    </td>
                    <td><a href="/Monitoring/RemoveLog/29641"><img class="hand" src="/Content/images/remove-icon.png" alt="X" /></a></td>
                </tr>
    
            

            </table>
        </div>
    </div></div>

