

    <div class="panel panel-default"><div class="panel-heading">Шаблоны правил приема купюр и монет</div><div class="panel-body">

            <div style="margin:0 auto;padding-bottom: 10px;">
                <a target="_blank" href="/Content/files/Настройка%20инструмента%20Шаблоны%20правил%20приема%20купюр%20и%20монет.pdf" >ИНСТРУКЦИЯ ПО НАСТРОЙКЕ ШАБЛОНОВ</a>
            </div>
            <table class="list-entity" style="margin: 0px auto;">
                <tr>
                    <th>ID</th>
                    <th>Название</th>
                    <th style="width: 25px"></th>
                    <th style="max-width: 250px;">Установить шаблон для всех терминалов и операторов</th>
                </tr>
                
                <tr>
                    <td>2388</td>
                    <td>рыбалка 1900</td>
                    <td>
                            <a href="/NominalRules/Edit/2388"><img src="/Content/images/edit.png" title="Редактировать шаблон" alt="Редактировать шаблон" /></a>                       
                    
                    </td>
                    <td class="assign-template">
                        <input type="button" template-id="2388" value="Установить"/>
                    </td>
                </tr>    
            
            </table>
            <br />
        <input  id="Create" type="button" value="Создать"/>
        <!--<img id="loading" src="/Content/images/loading.gif" alt="loading" style="vertical-align:middle;visibility:hidden;" />-->
    </div></div>

