
<nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Onplat</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <!--<li class="active"><a href="#">Home</a></li>-->
			  
              <!--<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Отчетность<span class="caret"></span></a>
                <ul class="dropdown-menu">
					<li><a href="/Payment/Index">Поиск платежа</a></li>
					<li><a href="/Report/Consolidated">Сводный отчет</a></li>
					<li><a href="/Report/DailyReport">Финансовый отчет</a></li>
					<li role="separator" class="divider"></li>
					<li><a href="/Balance/BankHistory">Банковские платежи</a></li>
					<li><a href="/Report/AgentCommissionEarned">Начисленная комиссия</a></li>
					<li><a href="/Report/ProfitFromSubagents">Доходы с субагентов</a></li>
					<li role="separator" class="divider"></li>
					<li><a href="/Balance/History">Движения по кассе</a></li>
					<li><a href="/Encashment/Index">История инкассаций</a></li>
					<li><a href="/Report/TerminalsProfitability">Рентабельность терминалов</a></li>
                </ul>
              </li>-->

				<!--<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Субагенты<span class="caret"></span></a>
                <ul class="dropdown-menu">
						<li><a href="/Agent/Create">Новый агент</a></li>
						<li><a href="/Agent/Search">Поиск</a></li>
						<li><a href="/Agent/Index">Общий список</a></li>
					</ul>
				</li>-->
				
				<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Пользователи<span class="caret"></span></a>
                <ul class="dropdown-menu">
						<li><a href="/User/Create">Новый пользователь</a><li>
						<li><a href="/User/">Общий список</a></li>
					</ul>
				</li>
				
				<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Терминалы<span class="caret"></span></a>
                <ul class="dropdown-menu">
						<li><a href="/Terminal/Create">Новый терминал</a><li>
						<li><a href="/Terminal/">Общий список</a></li>
						<li role="separator" class="divider"></li>
						<!--<li><a href="/Commission/ExternalCommission">Установка комиссий для всех терминалов</a></li>-->
						<li><a href="/Commission/IndexTemplate">Шаблоны комиссий</a></li>
						<li><a href="/NominalRules">Шаблоны правил приема купюр и монет</a></li>
						<!--<li><a href="/Terminal/IndexCollectorRoutes">Список маршрутов инкассаторов</a></li>-->
						<!--<li><a href="/Terminal/Locations">Адреса терминалов</a></li>-->
						
					</ul>
				</li>

				<!--<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Статистика<span class="caret"></span></a>
                <ul class="dropdown-menu">
							<li><a href="/DynamicReport/Create">Новый шаблон</a></li>
					</ul>
				</li>-->
				<!--<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Операции<span class="caret"></span></a>
                <ul class="dropdown-menu">
						<li><a href="/Agent/Activation">Активация платежного шлюза</a></li>
						<li><a href="/Balance/Redistribution">Касса</a></li>
						<li><a href="/Balance/AgentCommissions">Зачисление внутренней комиссии</a></li>
						
						<li><a href="/Encashment/Verification">Сверка инкассаций</a></li>
						<li role="separator" class="divider"></li>
						<li><a href="/Monitoring/Index">Мониторинг терминалов</a></li>
						<li><a href="/Monitoring/IndexLog">Логи с терминалов</a></li>
						<li><a href="/Monitoring/IndexZReport">Z-отчеты с терминалов</a></li>
						
						
					</ul>
				</li>-->
				 <!--
				<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Реклама<span class="caret"></span></a>
                <ul class="dropdown-menu">
						<li><a href="/Advertisement/IndexAdvertMinisite">Рекламные блоки</a></li>
						<li><a href="/Advertisement/IndexAdvertTemplate">Шаблоны рекламы</a></li>
						<li><a href="/Advertisement/IndexAssignment">Назначение шаблонов рекламы</a></li>
						
					</ul>
				</li>-->
			  
			  
			  
            </ul>
          </div>
        </div>
      </nav>

	  
	  


        

    
