
<div class="scrollable">
  <div class="scrollable-content" >      
      
    <div ng-controller="CtrlSession" class="panel panel-default">
            <div class="panel-heading">Текущая сессия 
                    <span role="button"  ng-click='SwitchDebug();' 
                                    ng-class="FSession.current.debug_mode ? 'btn-success' : 'btn-default'" 
                                    class="btn btn-xs pull-right fa fa-wrench" 
                                    aria-hidden="true"></span>
                    <div class="clear"></div>
            </div>
            <div ng-if="FSession.status=='ready' && FSession.items.length>0" ng-repeat='session in FSession.items' class="panel-body">
                        {{session.descr}} ({{session.clientgroup}}) <button ng-click="FSession.Save();" class='pull-right'>Выход</button>
            </div>
    </div>  
    
    <div class="list-group" ui-turn-on='uiSidebarLeft'>
                  <a class="list-group-item" href="/Me" ng-if="$root.editors.indexOf(FSession.current.clientgroup)==-1">Личный кабинет</a> 
		  <a class="list-group-item" href="/User" ng-if="$root.editors.indexOf(FSession.current.clientgroup)!=-1">Агенты</a> 
                    <a class="list-group-item" href="/Terminal" >Терминалы</a>
		  <!--<a class="list-group-item" href="/Services" >Сервисы</a>-->
		  <a class="list-group-item" href="/Pays" >Платежи</a>
		  <a class="list-group-item" href="/Ways" >Маршруты</a>
                  <a class="list-group-item" href="/Cassa" >Касса</a> 
		  <a class="list-group-item" href="/Incass" >Инкассации</a>
                    <a class="list-group-item" href="/ServiceSettings" ng-if="$root.editors.indexOf(FSession.current.clientgroup)!=-1">Правка сервисов</a>
		  <a class="list-group-item" href="/Templates" >Шаблоны</a>
    </div>
      
  </div>
</div>
