

        

            
    <div class="panel panel-default"><div class="panel-heading">Список шаблонов комиссий</div><div class="panel-body">
        
        <div align="center">
            <table class="list-entity">
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        Название
                    </th>
                    <th style="width: 25px">
                    </th>
                </tr>
            
            </table>
            <br />
            <input type="button" value="Создать" onclick="javascript:document.location.href = '/Commission/CreateTemplate'"/>
        </div>
    </div></div>
