

        

            
    <div class="panel panel-default"><div class="panel-heading">Список маршрутов инкассаторов</div><div class="panel-body">

        <div align="center">
            <table class="list-entity">
                <tr>
                    <td class="empty-cell" colspan="4">
                        <input id="createRoute" type="button" value="Создать маршрут" onclick="javascript:document.location.href='/Terminal/CreateCollectorRoute'"/>
                    </td>
                </tr>
                <tr>
                    <th>№</th>
                    <th>Принадлежит агенту</th>
                    <th>Название марштрута</th>
                    <th>Терминалов на маршруте</th>
                    <th></th>
                </tr>
            
            </table>
       </div>
    </div></div>

